/* Сперва общие правила */

* {
    box-sizing: border-box
}

/* Потом селекторы по тегам */

html {
font-family: arial;
}

main {
    width: 300px;
    margin: 0px auto;

}

p {

}

a {

}

/* Колонки - для popular.html */

.row {
display: flex;
}
.col {
flex: auto;
}


/* Потом селекторы по классам */

.text-input {

}

/* для login.html */
.button {
padding: 10px 25px;
background-color: #554AF0;
color: #EBDCF9;
border-radius: 5px;
}

/* Потом специальные правила по страничкам */

/* Login*/

.input-login {
width: 300px;
height: 40px;
}


/* Страничка жанров и тегов */

.genre-first {

}

.genre-second {

}

.genre-third {

}

.genre-fourth {

}

.tag {

}

/* Страничка популярного */

.cover {

}

/* Страничка подписки  */

.box-green {

}

.box-purple {

}

.text-large {

}

.button-link {

}
