/* Сперва общие правила */

* {
    box-sizing: border-box
}

/* Потом селекторы по тегам */

html {
font-family: arial;
}

main {
    width: 300px;
    margin: 0px auto;
}

/* для single.html */
p {
width: 230px;
padding: 1px;
margin: 1px;
line-height: 1.5em;
}

a {
text-decoration: none;
padding: 10px 25px;
background-color: #554AF0;
color: #EBDCF9;
border-radius: 5px;
}


/* Колонки - для popular.html */

.row {
display: flex;
}
.col {
flex: auto;
}


/* Потом селекторы по классам */

.text-input {
width: 230px;
line-height: 2.2em;
}

/* для login.html */
.button {
padding: 10px 25px;
background-color: #554AF0;
color: #EBDCF9;
border-radius: 5px;
}

/* Потом специальные правила по страничкам */

/* Login*/

.input-login {
width: 300px;
height: 40px;
}


/* Страничка жанров и тегов */

.genre-first {
width: 300px;
background-color: #E1F5EA;
height: 30px;
text-align: left;
padding: 5px
}

.genre-second {
width: 270px;
background-color: #CBEDFF;
height: 30px;
text-align: left;
padding: 5px
}

.genre-third {
width: 230px;
background-color: #EEE5BD;
height: 30px;
text-align: left;
padding: 5px
}

.genre-fourth {
width: 200px;
background-color: #EBDCF9;
height: 30px;
text-align: left;
padding: 5px
}

/* ссылки в разделе жанров и тегов */
.tag {
text-decoration: underline;
background-color: white;
color: #554AF0;
border-radius: 5px;
}

/* Страничка популярного */

.cover {

}

/* Страничка подписки  */

.box-green {

}

.box-purple {

}

.text-large {

}

.button-link {

}
